#title
  height: $title_height
  display: block
  font-weight: bold
  font-size: 20px

.one-word
  margin-bottom: 15px

.word-text
  text-align: left
  margin-top: 5px

#top-container .one-word
  float: left
  margin-right: 10px

#your-words .svg
  margin-right: 15px
  margin-bottom: 15px
  float: left

#user-pics-container h1
  line-height: 40px