#title
  height: $title_height
  display: block
  font-weight: bold
  font-size: 20px

.one-word
  margin-bottom: 15px

.word-text
  text-align: left
  margin-top: 5px

#top-container .one-word
  float: left
  margin-right: 10px

#your-words svg
  margin-right: 4px
  margin-bottom: 4px
  float: left