#inspiration #container
  width: auto
  max-width: 1090px
#inspiration-content
  .word
    display: block
    width: 100px
    height: 100px
    float: left
    margin-right: 5%
    margin-bottom: 5%
    label
      display: none