#inspiration #container
  width: auto
  max-width: 1090px
#inspiration-content
  float: left
  .word
    display: block
    width: 70px
    height: 70px
    float: left
    margin-right: 2%
    margin-bottom: 2%
    label
      display: none

#inspiration-links
  float: right
  a
    +hover-link
    color: white