#container
  +container
  margin-top: 20px
#left-container
  +column(9)
#user-pics-container
  +column(9)
  +last
#side-container
  +column(4)
  min-height: 400px
  text-align: left

#right-container
  +column(6)
  +last

// WikiSigns Layout
// ================

// Helpers
@mixin containers
  background: rgba(255, 255, 255, 0.06)
  border-color: rgba(0, 0, 0, 0.5)
  border: 1px solid
  +border-radius(4px)
  padding: 8px
  margin: 12px

// Structural Elements
body
  background-color: #2F2F2F

#container
  +container
  margin: 3em

#menu-container
  +column(5)
  .button-link a
    display: block
    text-align: left

#main-menu
  min-height: 20em
  +containers

#context-menu
  +containers
  min-height: 26em

#main-container
  +column(10)

#main-sign
  +containers

#flow-container
  +column(5)
  +last

#flow-menu
  +containers
  min-height: 6em

#side-bar
  +containers
  min-height: 40em
  height: 40em
