#page-title
  text-align: center
  
.social-login
  a
    +link-box
    width: 200px
    margin-left: auto
    margin-right: auto

  .fb_logo img
    float: left
    height: 29px
    margin-left: -36px

  .twitter_logo img
    float: left
    height: 29px
    margin-left: -36px


.simple_form
  text-align: left
  margin: 10px
  label
    width: 150px
    display: block
    float: left
  .button
    margin-top: 5px
  .input
    margin-bottom: 5px
  input
    +drop-box
  span label
    display: none
  #user_submit
    margin-left: 153px
  
#sign-in-with-twitter
  +link-box-icon('twitter.png')

#sign-in-with-facebook
  +link-box-icon('facebook.png')
