#page-title
  text-align: center
  
.simple_form
  text-align: left
  margin: 10px
  label
    width: 150px
    display: block
    float: left
  .button
    margin-top: 5px
  .input
    margin-bottom: 5px
  #user_remember_me_false,
  span label
    display: none
  #user_submit
    margin-left: 153px
  
.users-devise-links,
.users-devise-providers
  display: block
  float: left
  width: 45%
  text-align: left
  margin:
    left: 10px
    top: 20px
    right: 10px
  a
    +link-box('sign_in.png')
    width: 80%
    
.users-devise-providers
  float: right
  
#sign-in-with-twitter
  +link-box('twitter.png')

#sign-in-with-facebook
  +link-box('facebook.png')