$default-box-shadow-inset: true

#auth
  #top-container,
  #right-container
    display: none

#user-info
  margin-bottom: 40px

#logins,
#back-link,
#wikisigns-description,
#twitter-user,
#goto-game,
#facebook-user
  margin-bottom: 20px
  padding: 0 40px 0 0
  line-height: 0.9em
  font-size: 25px
  a
    +fancy-button($button_color)
    text-align: center
  .login-info
    margin-bottom: 10px

#logins
  float: left
  margin-left: 20px
  padding: 0px

#twitter-user
  margin-bottom: 5px

#twitter-user-pic,
#facebook-user-pic
  margin-top: 10px

#back-link
  margin-top: 170px

#goto-game a
  margin-top: 10px

#scores
  padding-top: 5px
  text-align: left

.score
  margin-left: 5px
  margin-right: 5px
  font-weight: bold
  margin-bottom: 5px
  span
    float: right

#last-score
  color: #09ee6a
#daily-score
  color: #ff8f35
#alltime-score
  color: #b392d8

// SideBar
#side-bar
  overflow-y: hidden
  overflow-x: hidden
  .svg-text
    overflow: hidden
    height: 1.5em
    text-align: left
    padding-left: 6px
  .one-word
    float: left
    margin-right: 5px
    text-align: left
    height: 100px
    width: 100px
    display: block
    overflow: hidden
    margin-bottom: 15px
    cursor: pointer

// FlowMenu
#flow-menu
  text-align: left
