#auth
  #top-container,
  #right-container
    display: none

#user-info
  margin-bottom: 40px

#logins,
#back-link,
#wikisigns-description,
#twitter-user,
#goto-game
  margin-bottom: 20px
  padding: 0 40px
  line-height: 0.9em
  font-size: 25px
  a
    +fancy-button($button_color)
    width: 110px
    text-align: center
  .login-info
    margin-bottom: 10px

#twitter-user
  margin-bottom: 5px

#twitter-user-pic
  margin-top: 10px

#back-link
  margin-top: 170px

