- if user_signed_in? && current_user.from_facebook?
  #facebook-user
    %h1
      = t('omnisocial.logged_in_with.facebook')
    #facebook-user-pic
      = image_tag current_user.picture_url, :alt => current_user.login
      