<!-- JavaScript at the bottom for fast page loading -->
= render 'shared/javascripts'
#fb-root
= render 'shared/facebook_scripts'
= content_for :mode_script

= hoptoad_javascript_notifier if Object.const_defined?(:HoptoadNotifier)