-#<meta property="fb:app_id" content="87741124305" />
<meta property="og:url" content="http://www.youtube.com/watch?v=8PTgnEmlLWI" />
<meta property="og:title" content="Aref Ghafouri-Yetenek sizsiniz Turkiye yari final" />
<meta property="og:description" content="http://www.facebook.com/Aref.gh&lt;br&gt;&lt;br&gt;Mentalism is a performing art in which its practitioners, known as mentalists, appear to demonstrate highly developed mental o..." />
<meta property="og:type" content="video" />
<meta property="og:image" content="http://i1.ytimg.com/vi/8PTgnEmlLWI/default.jpg" />
-#<meta property="og:video" content="http://www.youtube.com/e/8PTgnEmlLWI" />
-#<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:site_name" content="YouTube" />