%meta{:property => "fb:app_id", :content => Settings.facebook.consumer_key}
%meta{:property => "og:title", :content => ("%s auf http://WikiSigns.ch" % @word.word)}
%meta{:property => "og:type", :content => "image"}
%meta{:property => "og:image", :content => svg_word_url(@word, :format => 'png')}
%meta{:property => "og:site_name", :content => "WikiSigns"}
