%meta{:property => "fb:app_id", :content => Settings.facebook.consumer_key}
-#<meta property="og:url" content="http://cyt.ch" />
-#<meta property="og:title" content="testing" />
-#<meta property="og:description" content="blablabla." />
-#<meta property="og:type" content="image" />
%meta{:property => "og:image", :content => svg_word_url(@word, :format => 'png')}
-#<meta property="og:video" content="http://www.youtube.com/e/8PTgnEmlLWI" />
-#<meta property="og:video:type" content="application/x-shockwave-flash" />
-#<meta property="og:site_name" content="YouTube" />