#game-menu{:style => 'display:none;'}
  %a#get-new-word{:href => '#'}
    = t('game.get_new_word')
  %a#restart-guessing{:href => '#'}
    = t('game.restart')
  - if current_user && current_user.from_facebook?
    = link_to t('game.post_day_score_to_fb'), daily_score_user_path(current_user), :remote => true, :method => :post
