#game-menu{:style => 'display:none;'}
  %a#get-new-word{:href => '#'}
    = t('game.get_new_word')
  - if current_user && current_user.from_facebook?
    %a#post-day-score-to-fb{:href => '#', 'data-user-id' => current_user ? current_user.id : 0}
      = t('game.post_day_score_to_fb')