= javascript_include_tag 'raphael/raphael', 'raphael/word'
= javascript_include_tag 'jquery-ui-1.8.12.custom.min'
= javascript_include_tag 'jquery.shuffle', 'jquery.qtip-1.0.0-rc3', 'game', 'session_show', 'show_word', 'tooltips'