- unless user_signed_in?
  = link_to t('tooltip.login'), login_path, :id => 'user-login', :'data-tooltip' => t('tooltip.login')
- else
  = link_to t('tooltip.logout'), logout_path, :id => 'user-logout', :'data-tooltip' => t('tooltip.logout')
