- unless user_signed_in?
  = link_to image_tag('icons/16x16/black/sign_in.png'), login_path, :id => 'user-login', :'data-tooltip' => t('tooltip.login')
- else
  = link_to image_tag('icons/16x16/black/sign_out.png'), logout_path, :id => 'user-logout', :'data-tooltip' => t('tooltip.logout')
