#scores
  #current-score
    = t('game.session_score')
    %span
      0
  #daily-score
    = t('game.dayly_score')
    %span
      - if current_user
        = current_user.daily_score
      - else
        0