- if is_facebook_request?
  = stylesheet_link_tag 'compiled/facebook.css', :media => 'screen, projection, print'
- else
  = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection, print'
= stylesheet_link_tag 'compiled/print.css', :media => 'print'
/[if IE]
  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'