@import 'base/variables'
@import 'base/default_imports'
@import 'base/mixins'

// Facebook Fake Style
body
  font-size: 11px
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif
  color: #333
  line-height: 1.28
  text-align: left
  direction: ltr


// Styles
body
  background-color: white

#container
  margin-top: 0

#main-container
  border-left: 1px solid #CCC
  border-right: 1px solid #CCC

#menu-container
  width: 160px

#main-menu, #context-menu, #main-sign, #main-control
  border: none
  margin: 0
  padding: 0

.button-link a
  background-color: white
  +box-shadow(none)
  color: black

  height: 21px
  min-height: 21px
  line-height: 14px
  margin: 0px
  padding: 0px
  padding-left: 20px
  background-position: 0 0
