@import 'base/variables'
$blueprint-container-size = 760px
$blueprint-grid-width = 20px
@import 'base/default_imports'

$title_height = 40px

@import 'partials/flying_carpet'
@import 'partials/layout'
@import 'partials/content'

#left-container
  +column(15)
#top-container
  width: $blueprint-container-size
#user-pics-container h1
  text-align: left
#your-words
  height: 400px
  width: 250px
  overflow-y: scroll
#logins
  display: none
#facebook
  background-color: white
#container
  width: $blueprint-container-size