@import 'base/variables'
@import 'base/default_imports'

form.edit_word
  display: none

#title
  display: none

#title-inserted
  min-height: 2.5em
  span
    cursor: pointer

#game-solutions-container
  h1,
  #your-solutions,
  #searched-solutions,
  #solution-images
    float: left
    width: 32%
  #your-solutions,
  #searched-solutions
    .word,
    .points
      height: 45px
      display: block
    .points
      margin-bottom: 10px
    .word
      padding-left: 5px
  #searched-solutions .word
    height: 90px
    margin-bottom: 10px
    +border-right-radius
    &.false
      border: 1px solid red
      border-left: none
      +opacity(0.75)
      background-color: red
    &.right
      border: 1px solid green
      border-left: none
      +opacity(0.75)
      background-color: green

  #your-solutions .word,
  #your-solutions .points
    &.false
      border: 1px solid red
      border-right: none
      +opacity(0.75)
      background-color: red
  #your-solutions .word
    +border-top-left-radius
    &.false,
    &.right
      border-bottom: none
  #your-solutions .points
    +border-bottom-left-radius
    font-size: 15px
    font-weight: bold
    &.false
      border-top: none
  #your-solutions .word.right,
  #your-solutions .points.right
    border: 1px solid green
    border-right: none
    +opacity(0.75)
    background-color: green
  #your-solutions .word.right
    border-bottom: none
  #your-solutions .points.right
    border-top: none
#ajax-loader
  display: block
  height: 100px

#game-menu a
  +fancy-button($button_color)

#highscores
  margin-bottom: 5px
  border-bottom: 1px solid black
  float: left
  width: 100%
  h1,
  div
    width: 49%
    float: left
  div
    display: block
    height: 1.5em
    line-height: 1.5em