form.edit_word
  display: none

#title
  display: none

#title-inserted
  min-height: 2.5em
  span
    cursor: pointer

#game-solutions-container
  h1,
  #your-solutions,
  #searched-solutions,
  #solution-images
    float: left
    width: 32%
  #your-solutions,
  #searched-solutions
    .word,
    .points
      height: 50px
      display: block
  #searched-solutions .word
    height: 100px
  #searched-solutions .word.false
    border: 1px solid red
    border-left: none
  #your-solutions .word.false
    border: 1px solid red
    border-right: none
  #searched-solutions .word.right
    border: 1px solid green
    border-left: none
  #your-solutions .word.right
    border: 1px solid green
    border-right: none
