twitter: &twitter
  twitter:
    consumer_key:
    consumer_secret:

production: &production
  hoptoad:
  facebook:
    consumer_key:
    consumer_secret:
  <<: *twitter
  google_analytics: 

localhost: &localhost
  hoptoad:
  facebook:
    consumer_key:
    consumer_secret:
  <<: *twitter

development:
  <<: *localhost
  faye: "http://localhost:3000"

test:
  <<: *defaults
  faye: "http://localhost:3000"

production:
  <<: *production
  faye: "http://localhost:3000"

staging:
  <<: *production
  faye: "http://localhost:3000"
