twitter: &twitter
  twitter:
    consumer_key:
    consumer_secret:

production: &production
  hoptoad:
  facebook:
    consumer_key:
    consumer_secret:
  <<: *twitter
  google_analytics: 

localhost: &localhost
  hoptoad:
  facebook:
    consumer_key:
    consumer_secret:
  <<: *twitter

development:
  <<: *localhost

test:
  <<: *defaults

production:
  <<: *production