=drop-box
  display: block

  +box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset)
  +border-radius

  background: #202020
  background-color: rgba(0, 0, 0, 0.3)

  color: #DBDBDB
  padding: 2px 10px
  margin-bottom: 5px
  line-height: 30px

  &:hover
    +box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, #500000 0 0px 8px 0px)

=link-box
  +drop-box

  +background-clip
  background-position: 9px 12px

  min-height: 30px
  width: 115px

  text-decoration: none
  text-transform: capitalize
  padding-left: 40px
  text-align: left

=link-box-icon($image: 'info.png', $image_position_y: 9px, $image_position_x: 12px)
  background-image: url("/images/icons/16x16/white/#{$image}")
  background-repeat: no-repeat
