= form_for @word, :url => {:action => 'new'}, :html => {:method => 'get'} do |f|
  = f.text_area :word, :autocomplete => 'off'
  = f.hidden_field :next_word, :value => @word.id if 'show'.eql?action_name
