.one-word{:'data-word-id' => word.id, :'data-random-word' => "#{random ? random : false}"}
  - if table
    = render(:partial => 'words/table', :locals => {:word => word})
  %div[word]
  .word-text
    = word.word
