<h1>Fliegender Teppich</h1>

<table class="carpet">
<% for row in 1..4 %>
  <tr>
  <% for column in 1..4 %>
    <td id="field_<%= "#{row}_#{column}" %>">
      <%= Word::CHARS[row-1][column-1].map{|c| c.upcase}.join(' ') %>
    </td>
  <% end %>
  </tr>
<% end %>
</table>
