- content_for :mode_script do
  = javascript_include_tag 'inspiration'

#inspiration-links
  = link_to '[X]', :back

#inspiration-content
  - index = 0
  - @words.each do |word|
    %div.word{:id => 'word_' + index.to_s}
      .sign
      %label= word.word
    - index += 1
