- content_for :mode_script do
  = javascript_include_tag 'inspiration'

- content_for :full_screen do
  #inspiration-links
    = link_to '[X]', :back

  #inspiration-content
    - @words.each_with_index do |word, index|
      .sign{:id => "sign-#{index}"}
        .one-word{:data => {'word-word' => word.word}}
          .word

#word
%h1#title
