- content_for :flow_menu do
  .button-link
    = link_to ">", random_words_path

#word
%h1#title= @word.word

- content_for :mode_script do
  :javascript
    $(document).ready(setRandomMode('#{escape_javascript(@word.word)}'));
