- content_for :flow_menu do
  .button-link
    = link_to t('link.new_word'), words_path
    = link_to ">", random_words_path

#title= @word.word
= render 'words/table', :word => @word
#word

- content_for :mode_script do
  :javascript
    $(document).ready(setRandomMode);
