- content_for :flow_menu do
  .button-link
    = link_to ">", random_words_path

= render 'words/table', :word => @word
#word
#title= @word.word

- content_for :mode_script do
  :javascript
    $(document).ready(setRandomMode);
