- content_for :flow_menu do
  .button-link
    = link_to "<", word_path(@previous_word)
    = link_to ">", word_path(@next_word)

- content_for :main_control do
  %h1#title= @word.word

#word

- content_for :mode_script do
  - if action_name.eql?('show_by_slug')
    :javascript
      $(document).ready(setShowBySlugMode);
  - else
    :javascript
      $(document).ready(setAnalyzeMode);
