- content_for :main_control do
  %h1#title= @word.word

#word

- content_for :mode_script do
  - if action_name.eql?('show_by_slug')
    :javascript
      $(document).ready(setShowBySlugMode);
  - else
    :javascript
      $(document).ready(setAnalyzeMode);
