- content_for :flow_menu do
  .button-link
    = link_to "<", word_path(@previous_word)
    = link_to ">", word_path(@next_word)

#title= @word.word
= render 'words/table', :word => @word
#word

- content_for :mode_script do
  :javascript
    $(document).ready(setAnalyzeMode);
